p.cv_info_blurb {
	background-color:#cccccc;
	border:1px solid #000000;
	padding:0.3em;
}

p.rss-subscribe {
	font-size: 0.8em;
}

div#cv_notary_list {
	margin-top:1em;
	border-top:1px solid #000000;
	padding-top:1em;
}