---
---

$cv-text: #000000;

$cv-info-bkg: #cccccc;
$cv-info-border: #000000;

p.cv_info_blurb {
	background-color:$cv-info-bkg;
	border:1px solid $cv-info-border;
	padding:0.3em;
}

p.rss-subscribe {
	font-size: 0.8em;
}

div#cv_notary_list {
	margin-top:1em;
	border-top:1px solid $cv-info-border;
	padding-top:1em;
}

a.cv_qanda, a.cv_qanda:hover {
	text-decoration: none;
	color:$cv-text;
}